*  body {
    font-family: Arial, Helvetica, sans-serif;
  }

  header {
    background-color: rgb(230, 220, 222);
    padding: 20px;
    font-size: 25px;
    color: blue;

  }

  nav {

    width: 100%;
    height: 100%;
    background: rgb(233, 233, 227);
    padding: 15px;
  }

  ul {
    display: flex;


  }

  article {

    float: left;
    text-align: center;
    padding: 20px;
    width: 100%;
    background-color: #f1ece2;
    height: 400px;
  }

  footer {
    background-color: rgb(166, 120, 165);
    padding: 10px;
    text-align: center;
    color: rgb(46, 7, 199);
    min-height: 40px;
  }

  @media (max-width: 600px) {

    nav,
    article {
      width: 100%;
      height: auto;
    }
  }

  a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }

  a:visited {
    color: rgb(175, 57, 169);
    background-color: transparent;
    text-decoration: none;
    
  }

  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }

  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
  .suray{
    margin: auto;
    width: 30px;
    height: 30px;
}
.news-img{
    display: inline-block;
    height: 200px;
    float: left;
    line-height: auto;
}
.news-content{
    display: inline;
    margin:100px;
    
}
.news-span-img{
    display: inline;
    float: left;
}
.img{
    width: 100px;
    height: 100px;
}
.top{
    font-weight: 400;
    font-size: 18px;
    display: inline;
    cursor: pointer;
    color: blue;
}
.VS{
    margin: top 5PX;
    color: rgb(226, 19, 61);
    line-height: 22px;
    display:grid ;
}
.mssv{
    margin: inherit;
    color: rgb(221, 26, 49);
}
.mca{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  margin-left: 8px;
}
.msc{
  font-size: 25px;
  display: block;

}
.bcom{
  padding-top: 10px;
  margin-left: 0px;
  text-decoration: line-through;
  font-size: 14px;
  color: rgb(218, 13, 170);
}
.bca{
  color: rgb(25, 12, 209);
  font-size: 13px;
  letter-spacing:-.2px;
  font-weight: 500px;
  display: inline-block;
  margin-left: 8px;
}
.bsc{
  width: 10px;
  height: 10px;
  display: inline-block;
  vertical-align: top;
  font-size: 0px;
  padding-bottom: 4px;
}
button{
  float: right;
  background-color: rgb(18, 242, 223);
  padding: 10px;  
}
.kvr{
  background-color: aqua;
}